.carousel-item {
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h2, p {
    margin: 0;
}

.CheckButton {
    align-self: flex-end;
    margin-right: 20px;
}
